# Analysis of the 25 largest retailers in the United States

## Problem Statement

A retail company is going to open operations in the USA. The sales managers want to know about retail market through the analysis of the 25 largest retail companies in the country. They have some business questions in order to get a better understanding of the market.

As a new hired Data Analyst the objective is to provide insights about retail market and competitors through the report: largest_us_retailers.csv

## Steps

The analysis will be perform in 3 phases:
1. Data inspection, analysis and classification
2. Answer manager's business questions
3. Provide recommendations

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read data from csv file
# df = pd.read_csv('/work/largest_us_retailers.csv')
df = pd.read_csv('Doc/largest_us_retailers.csv')

## I. Data inspection, analysis and classification

### 1. Data Inspection

In [3]:
df.shape

(25, 6)

In [4]:
df

,Company,Sales,Stores,Sales/Avg. Store,Store Count Growth,Category
0,Walmart US,658119,4574.0,65.649725,0.012843,Supercenters
1,Kroger,115037,3931.0,30.031850,0.053887,Grocery
2,Costco,90048,495.0,187.795620,0.066810,Warehouse Club
3,Home Depot,83976,1965.0,42.735878,0.000000,Home Improvement
4,Walgreen Boots,78924,8002.0,9.810927,-0.010511,Drug Stores
5,CVS incl. Target,77792,9813.0,8.825959,0.255662,Drug Stores
6,Amazon,71687,NaN,NaN,NaN,Electronic/Mail Order
7,Target,71208,1772.0,39.982033,-0.010056,Supercenters
8,Lowe's,60311,1828.0,33.311792,0.019520,Home Improvement
9,Albertsons,56829,2326.0,23.877731,-0.044371,Grocery
10,Sam's Club,56828,655.0,87.293395,0.012365,Warehouse Clubs
11,Apple incl. Online,37664,NaN,NaN,NaN,NaN
12,Best Buy,34980,1389.0,24.685956,-0.038754,Electronics
13,Publix,34408,1351.0,25.997733,0.042438,Grocery
14,Rite Aid,27486,4553.0,6.025649,-0.003720,Drug Stores
15,Ahold,26903,794.0,34.446863,0.033854,Grocery
16,Macy's,26028,889.0,30.442105,0.082826,Department Stores
17,TJX,25012,2770.0,9.369545,0.078241,Apparel
18,Aldi,24402,2021.0,12.715998,0.112273,Grocery
19,Dollar General,22234,13350.0,1.768885,0.132412,Dollar Stores
20,Dollar Tree,21464,14250.0,1.563919,0.079627,Dollar Stores
21,HEB,21384,323.0,66.825000,0.018927,Grocery
22,Kohl's,19060,1169.0,16.353496,0.006024,Department Stores
23,Delhaize,18201,1280.0,13.783415,-0.059515,Grocery
24,Meijer,16592,231.0,74.738739,0.084507,Supercenters

#### Observations
1. Data frame contains 25 rows and 6 columns
2. Type of data: *company's name, Sales in billion dollars, Number of stores, sales average per stores, store count growth and category of the retailer*
3. There are NaN values into data frame and must be clean it.

#### Data Wrangling & Cleaning

* Remove NaN values from numerical columns

In [5]:
# This class finds columns with numerical dtypes (int64,float64) 
# and replaces NaN values for 0
class FillNaN:
    def __init__(self,dataframe) -> None:
        self.dataframe = dataframe

    def fill_numerical(self):
        self.numerical_column_list = self.dataframe.dtypes[(self.dataframe.dtypes == 'int64') | (self.dataframe.dtypes == 'float64')].index

        for col in self.numerical_column_list:
            self.dataframe[col].replace(np.nan,0,inplace=True)

        return self.dataframe

In [6]:
df1 = FillNaN(df).fill_numerical()

#### NaN values removed from dataframe

In [7]:
df1

,Company,Sales,Stores,Sales/Avg. Store,Store Count Growth,Category
0,Walmart US,658119,4574.0,65.649725,0.012843,Supercenters
1,Kroger,115037,3931.0,30.031850,0.053887,Grocery
2,Costco,90048,495.0,187.795620,0.066810,Warehouse Club
3,Home Depot,83976,1965.0,42.735878,0.000000,Home Improvement
4,Walgreen Boots,78924,8002.0,9.810927,-0.010511,Drug Stores
5,CVS incl. Target,77792,9813.0,8.825959,0.255662,Drug Stores
6,Amazon,71687,0.0,0.000000,0.000000,Electronic/Mail Order
7,Target,71208,1772.0,39.982033,-0.010056,Supercenters
8,Lowe's,60311,1828.0,33.311792,0.019520,Home Improvement
9,Albertsons,56829,2326.0,23.877731,-0.044371,Grocery
10,Sam's Club,56828,655.0,87.293395,0.012365,Warehouse Clubs
11,Apple incl. Online,37664,0.0,0.000000,0.000000,NaN
12,Best Buy,34980,1389.0,24.685956,-0.038754,Electronics
13,Publix,34408,1351.0,25.997733,0.042438,Grocery
14,Rite Aid,27486,4553.0,6.025649,-0.003720,Drug Stores
15,Ahold,26903,794.0,34.446863,0.033854,Grocery
16,Macy's,26028,889.0,30.442105,0.082826,Department Stores
17,TJX,25012,2770.0,9.369545,0.078241,Apparel
18,Aldi,24402,2021.0,12.715998,0.112273,Grocery
19,Dollar General,22234,13350.0,1.768885,0.132412,Dollar Stores
20,Dollar Tree,21464,14250.0,1.563919,0.079627,Dollar Stores
21,HEB,21384,323.0,66.825000,0.018927,Grocery
22,Kohl's,19060,1169.0,16.353496,0.006024,Department Stores
23,Delhaize,18201,1280.0,13.783415,-0.059515,Grocery
24,Meijer,16592,231.0,74.738739,0.084507,Supercenters

#### Data inspection of the 'Category' column

In [8]:
df.Category

0              Supercenters
1                   Grocery
2            Warehouse Club
3          Home Improvement
4               Drug Stores
5               Drug Stores
6     Electronic/Mail Order
7              Supercenters
8          Home Improvement
9                   Grocery
10          Warehouse Clubs
11                      NaN
12              Electronics
13                  Grocery
14              Drug Stores
15                  Grocery
16        Department Stores
17                  Apparel
18                  Grocery
19            Dollar Stores
20            Dollar Stores
21                  Grocery
22        Department Stores
23                  Grocery
24             Supercenters
Name: Category, dtype: object

#### Observations
1. The enterprise Apple incl. Online has no category on the dataframe and it can be assign 'Electronic/Mail Order' as category due to their operations are based on online shopping
2. The category Warehouse Club, can be normalized choosing one of this both: Warehouse Club y Warehouse Clubs

#### Assign 'Electronic/Mail Order' as a category for Apple incl. Online

In [9]:
df1['Category'] = df1['Category'].replace(np.nan,'Electronic/Mail Order')

# 3. Change applied
df1[df1['Company']=='Apple incl. Online']

,Company,Sales,Stores,Sales/Avg. Store,Store Count Growth,Category
11,Apple incl. Online,37664,0.0,0.0,0.0,Electronic/Mail Order

#### Normalize Warehouse Club category

In [10]:
df1['Category'] = df1['Category'].replace(['Warehouse Clubs'],'Warehouse Club')

#### Dataframe cleaned

In [11]:
df1

,Company,Sales,Stores,Sales/Avg. Store,Store Count Growth,Category
0,Walmart US,658119,4574.0,65.649725,0.012843,Supercenters
1,Kroger,115037,3931.0,30.031850,0.053887,Grocery
2,Costco,90048,495.0,187.795620,0.066810,Warehouse Club
3,Home Depot,83976,1965.0,42.735878,0.000000,Home Improvement
4,Walgreen Boots,78924,8002.0,9.810927,-0.010511,Drug Stores
5,CVS incl. Target,77792,9813.0,8.825959,0.255662,Drug Stores
6,Amazon,71687,0.0,0.000000,0.000000,Electronic/Mail Order
7,Target,71208,1772.0,39.982033,-0.010056,Supercenters
8,Lowe's,60311,1828.0,33.311792,0.019520,Home Improvement
9,Albertsons,56829,2326.0,23.877731,-0.044371,Grocery
10,Sam's Club,56828,655.0,87.293395,0.012365,Warehouse Club
11,Apple incl. Online,37664,0.0,0.000000,0.000000,Electronic/Mail Order
12,Best Buy,34980,1389.0,24.685956,-0.038754,Electronics
13,Publix,34408,1351.0,25.997733,0.042438,Grocery
14,Rite Aid,27486,4553.0,6.025649,-0.003720,Drug Stores
15,Ahold,26903,794.0,34.446863,0.033854,Grocery
16,Macy's,26028,889.0,30.442105,0.082826,Department Stores
17,TJX,25012,2770.0,9.369545,0.078241,Apparel
18,Aldi,24402,2021.0,12.715998,0.112273,Grocery
19,Dollar General,22234,13350.0,1.768885,0.132412,Dollar Stores
20,Dollar Tree,21464,14250.0,1.563919,0.079627,Dollar Stores
21,HEB,21384,323.0,66.825000,0.018927,Grocery
22,Kohl's,19060,1169.0,16.353496,0.006024,Department Stores
23,Delhaize,18201,1280.0,13.783415,-0.059515,Grocery
24,Meijer,16592,231.0,74.738739,0.084507,Supercenters

### 2. Data An√°lisis

### 3. Data Classification

## II. Business Questions

### 1. What is the dominant company in sales?

### 2. What is the average sales without counting the dominant company?

### 2. How much money in sales did most companies make?

### 3. How many stores do most companies have?

### 4. Is the number of stores related to the number of sales?, If a company has more stores, will it have more money from sales?

### 5.What is the range between sales?

### 6. What are the 5 companies that have the most physical stores? Which of them are among the 5 companies that had the most sales?

### Optional

### 7.  Which category generated the most sales?

### 8. What is the company that in relation to its number of physical stores generates more sales?

### 9. Which companies sell exclusively online? Do their sales stand out from those that also have physical stores?

## III. Recommendations

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=edc68bfa-8df4-47a4-8622-860ebb931fe9' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>